@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Michroma", serif;
    background-color: #010409;
    color: #fff;
}


h1 {
    font-size: 4.4em;
    letter-spacing: 1px;
    font-weight: 700;
    color: #ffffff;
}

.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.typing {
    width: 612px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #5B3D0A;
    animation: typing 2s steps(12, end), cursor .5s steps(12, end) infinite;
}
@keyframes typing {
    from { width: 0 }
}
@keyframes cursor {
    50% { border-color: transparent }
}

.title{
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
    color: #E59A19
    ;

}

.sub-title{
    margin: 0px;
    font-weight: 200;
    font-size: 20px;
}


.download {
    margin-right: 15px;
    margin-top: 60px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #E59A19;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }

  .download::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: #010409;
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
  }

  .download:hover::before {
    transform: scaleY(0);
  }

  .download::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: #010409;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
    transition-delay: 0.3s;
  }

  .download:hover::after {
    transform: scaleX(0);
  }

  .download span {
    position: relative;
    z-index: 3;
    font-family: "Inter", serif;
  }




  .linkedin {
    margin-left: 1px;
    margin-top: 60px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #E59A19;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }

  .linkedin::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: #010409;
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
  }

  .linkedin:hover::before {
    transform: scaleY(0);
  }

  .linkedin::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: #010409;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
    transition-delay: 0.3s;
  }

  .linkedin:hover::after {
    transform: scaleX(0);
  }

  .linkedin span {
    position: relative;
    z-index: 3;
    font-family: "Inter", serif;
  }




  button {
    text-decoration: none;
    background-color: #010409;
    border: none;
  }

.p-section {
    text-align: center;
    align-items: center;
    position: relative;
    font-size: 36px;
    margin-top: 200px;
}

.a-about{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: "Inter", serif;
}


.p-section::before {
    content: "";
    position: absolute;
    top: 55px; /* Ajuste a distância da linha */
    left: 50%;
    width: 15%;
    height: 3px;
    background-color: #E59A19;
    transform: translateX(-50%);
}

.border{
    border: 1px solid #ff0000;
}


.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid #5B3D0A
    ;
    transition: all 0.5s ;
}

.sidebar-header{
    width: 100%;
    margin-bottom: 16px;
}

.logo-img{
    width: 38px;
    min-height: 38px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s;
    margin-left: 10px;
}

.logo-img:hover{
    transform: scale(1.5);
}

.sidebar button{
    height: 60px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button > span{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 16px 0 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.2s;
}

.sidebar button:hover > span{
    background: rgb(248,230,200, 0.08);
}

.sidebar button i{
    position: relative;
    font-size: 28px;
    transition: 0.2s;
}

.sidebar button span{
    font-size: 16px;
}

.sidebar > nav{
    /*
    flex-grow: quanto o item ira crescer
    flex-shirnk: define o fator de reducao
    flex-basis: tamanho base de cada item
    */
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main{
    margin-top: 200px;
    margin-left: 350px;
    margin-right: 25px;
    overflow: hidden;
}

@media (width < 920px){
    .sidebar{
        width: 72px;
    }

    .sidebar button > span{
        width: 50px;
    }

    .sidebar button > span > span{
        opacity: 0;
        visibility: hidden;
    }
    .main{
        margin-left: 98px;
        transition: margin 0.5s;
    }
}

.button-mobile{
    display: none;
    align-self: flex-start;
    align-items: center;
    margin: 16px;
    background: transparent;
    color: #fff;
    border: 0;
}
.button-mobile span{
    font-size: 19px;
    margin-left: 8px;
    font-family: "Inter", serif;
}

.button-close span i {
    font-size: 42px;
}

.menu-mobile{
    display: none;
}

.menu-mobile-active{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu-mobile-active button{
    background: transparent;
    border: 0;
    color: inherit;
    margin-bottom: 16px;
}

.menu-mobile-active button > span{
    display: inline-flex;
    align-items: center;
}


.mobile-text{
    font-size: 22px;
    margin-left: 8px;
}

@media (max-width: 520px){
    .sidebar{
        display: none;
    }

   .button-mobile{
    display: flex;
   }

    .main{
        margin-left: 20px;
    }
}

#about{
    width: 100%;
    height: 960px;
    margin-bottom: 300px;
    /* background-color: #ffffff; */
}



.wrapper {
    align-items: center;
    justify-content: center;
    display: grid ;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 300px;
    place-items: center;
}

  .box{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 43% 25% 25% 25% / 43% 0% 0% 0%;
    background-color: #2f3336;
    border-bottom: 4px  solid;
    border-image: linear-gradient(to right, #E59A19, #14adcc) 1;
  }

  .img-skills{
    width: 50%;
    height: 50%;
  }

.list {
    display: flex;
    gap: 8px;
    padding: 16px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .item {
    flex-shrink: 0;
    width: 30%;
    height: 40vh;

    background-color: #FFF;

    scroll-snap-align: center;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    font-family: sans-serif;
    font-size: 64px;
    font-weight: bold;
  }

  .list {

    scrollbar-width: none;

    -ms-overflow-style: none;
  }

  .list::-webkit-scrollbar {
    display: none;
  }

  .list-wrapper {
    position: relative;
  }

  .button {
    position: absolute;
    top: 50%;
    color: #ee0000;
    width: 3rem;
    height: 3rem;

    transform: translateY(-50%);
  }

  .button--previous {
    left: 1.5rem;

  }

  .button--next {
    right: 1.5rem;
  }

  .container{
    width: 100%;
    height: 60vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow:  0px 5px 25px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.inputBox{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.inputBox input[type="text"], .inputBox input[type="email"]{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}

.inputBox textarea{
    width: 100%;
    height: 120px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}

.inputBox button{
    width: 100%;    
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgb(0, 119, 255);
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}

.inputBox button:hover{
    background: rgb(0, 17, 255);
    transition: all 0.3s ease;
}

::placeholder{
    font-size: 16px;
}

.alert{
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}





